@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&family=Permanent+Marker&display=swap');

*{
	margin: 0; 
	padding:0;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

body{
	background: #f2f3ee;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	background: #284289;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo{
	font-family: "Pacifico", cursive;
	font-size: 25px;
	text-decoration: none;
	color: #f5f5e0;
	letter-spacing: 4px;
}

nav a{
	position: relative;
	font-size: 18px;
	color:white;
	text-decoration: none;
	/* display: inline-block; */
	margin-left: 20px;
}

nav a::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: white;
	transition: .3s;
}

nav a:hover::before{
	width: 100%;
}

.caja-actividades{
	width: 650px;
	height: 530px;
	background: #ffffff;
	color: #3d4041;
	top: 50%;
	left: 50%;
	position:absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 40px;
	
}

.caja-actividades h1{
	margin:0;
	padding: 0 0 50px;
	text-align: center;
	font-size: 24px;
	font-family: "Lucida Grande", sans-serif;
	
}

.ladoIzq{
	padding-bottom: 0.3em;
	font-family: "Lucida Grande", sans-serif;
	font-size: 19px;
	text-align: center;
}

.ladoDer{
	padding-bottom: 0.3em;
	font-family: "Lucida Grande", sans-serif;
	font-size: 19px;
	text-align: center;
}

.ladoIzqTitle{
	padding-left: 3.9em;
	padding-right: 3.6em; 
	padding-bottom: 1em;
	font-family: "Lucida Grande", sans-serif;
	font-size: 25px;
	text-align: center;
}

.ladoDerTitle{
	padding-right: 3.9em;
	padding-left: 3.6em; 
	padding-bottom: 1em;
	font-family: "Lucida Grande", sans-serif;
	font-size: 25px;
	text-align: center;
}	

.ladoIzqButton a{
	text-align: center;
	background: #da3b19;
	border-radius: 15px;
	display: inline-block;
	color:white;
	padding: 0.5rem 1rem;
	transition: all 0.20s linear;
	text-decoration: none;
}

.ladoIzqButton {	
	text-align: center;
	padding-bottom: 0.5em;

}

.ladoIzqButton a:hover{
	background: #e75b3e;
	border-radius: 15px;
}


.ladoDerButton a{

	text-align: center;
	background: #da3b19;
	border-radius: 15px;
	display: inline-block;
	color:white;
	padding: 0.5rem 1rem;
	transition: all 0.20s linear;
	text-decoration: none;
}

.ladoDerButton a:hover{
	background: #e75b3e;
	border-radius: 15px;

}

.ladoDerButton {	
	text-align: center; 
	padding-bottom: 0.5em;

}
